.homepage{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    background: white;
    position: relative;
    box-shadow: 0 0 15px 5px gray;
}

.button{
    background: blue;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}