.login{
    width: 400px;
    background: white;
    border:1px solid #dddfe2;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    border-radius: 8px;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.login > input{
    width: 92%;
    border:2px solid #dddfe2;
    margin: 0.5rem 0;
    font-size: 1rem;
    padding: 0.5rem 0.7rem;
    outline: none;
    color: black;
}

button{
    background: blue;
    color: #fff;
    border: 1px solid #1877f2;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
    font-size: 1.25rem;
    padding: 0.5rem;
    margin: 0.5rem 0;
}